
  @font-face {
    font-family: 'SAO';
    src: url('../Fuente/SAOUI-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'SAOtitulo'; 
    src: url('../Fuente/SAOWelcomeTT-Regular.ttf') format('truetype');
  }


  .container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 255, 255,0.4);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .interior{
    display: flex;
    flex-direction: row;
    width: 1170px;


  }

img{
  margin-top: 174px;
  height: 208px;
  display: block;
  margin-left: 10px;
  width: 258px;
}

  .lateral{
    display: flex;
    justify-content: right;
    width: 25%;
  }

  .fullbody {
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: 'SAOtitulo';
    text-align: center;
    color: rgb(255, 255, 255);
  }
.campodetexto{
  display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  span{
    color: white;
    font-size: 20px;
  }
  input[type="text"]{
    width: 100%;
    padding: 5px;
    border: 0;
    background-color: rgba(41, 219, 196, 0.2);
    font-family: 'SAO';
    font-size: 20px;
    color: white;
    
  }
  textarea  {
    /* overflow-y: hidden; */
    width: 82%;
    height: 450px;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(41, 219, 196, 0.2);
    font-family: 'SAO';
    resize: none;
    font-size: 20px;

    /* scrollbar-width: none; /* Firefox 
  -ms-overflow-style: none; */
  }

  textarea::-webkit-scrollbar {
    width: 0; /* Ancho cero para ocultar la barra */
  }
  
  body {

    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SAO';
    height: 100vh;
    margin: 0;
    background-image: url('../img/pantallaverde.png');
    padding: 0;
    background-color: #f0f0f0;
  }